.Header img {
  display: flex;
  margin-left: 50%;
}

.beerCard{
  display: flex;
  align-items: center;
  gap : 20px;
  padding : 20px;
  margin: 20px;
}

.titleBeerDetails{
  display: flex;
  justify-content: center;
  gap : 60px;
}

.beerDetails img {
  display: flex;
  margin: auto;
}

.beerLoading{
  display: flex;
  margin: auto;
}

.beersDescription {
  margin: 0% 20% 0% 20%;
}

.beerDetails{
  margin-top: 80px;
}

label{
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 50%;
}

.AddNew{
  margin-left: 20%;
  margin-top: 15px;
  background-color: #78CEFF;
}